body {
    background-color: #0d1b2a;
}

.card-header {
    background-color: #1d2d44;
}

#description {
    border-radius: 7pt;
}

#analysis-card {
    border-radius: 10pt;
}

.sensor {
    background-color: #3e5c76;
}

.card-text {
    font-size: 1.1rem;
}


.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
