body {
    background-color: #343a40;
}

.card-header {
    /*background-color: #2d3237;*/
    /*border-radius: 0.75rem;*/
}


/*.card {*/
/*    border-radius: 0.75rem;*/
/*}*/

.card-title {
    font-size: 1.25rem;
}


.card-text {
    font-size: 1.5rem;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}
