<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style>
        .table {
            color: white;
        }
    </style>
</head>
<body class=" text-white">
<div class="container mt-5">
    <div class="text-center mb-5">
        <h1>Water Analysis</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card card-text mb-4 rounded">
                <div class="card-header text-center"><h4 class="card-title">Turbidity Sensor</h4></div>
                <div class="card-body sensor">
                    <table class="table table-borderless table-sm">
                        <tbody class="text-left">
                            <tr>
                                <td>Raw ADC:</td>
                                <td>4095</td>
                            </tr>
                            <tr>
                                <td>Voltage:</td>
                                <td>2.67V</td>
                            </tr>
                            <tr>
                                <td>Turbidity:</td>
                                <td id="turbidity">{{ data.turbidity }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-text mb-4 rounded">
                <div class="card-header text-center"><h4 class="card-title">Temperature Sensor</h4></div>
                <div class="card-body sensor">
                    <table class="table table-borderless table-sm">
                        <tbody>
                            <tr>
                                <td>Raw ADC:</td>
                                <td>4095</td>
                            </tr>
                            <tr>
                                <td>Voltage:</td>
                                <td>3.24V</td>
                            </tr>
                            <tr>
                                <td>Temperature:</td>
                                <td id="temperature">{{ data.temperature }}C</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">
                    <h3 class="card-title">Analysis</h3>
                    <p id="analysis" class="card-text">{{ data.analysis.safety_percentage }}% safe</p>
                    <div id="description" class="card rounded bg-danger">
                        <p>{{ data.analysis.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- JavaScript to update the values -->
<script>
    function fetchData() {
        fetch('/data')
            .then(response => response.json())
            .then(data => {
                document.getElementById('turbidity').innerText = data.turbidity;
                document.getElementById('temperature').innerText = data.temperature;
                document.getElementById('voltage').innerText = data.voltage;
                document.getElementById('analysis').innerText = data.analysis;
            })
            .catch(error => console.error('Error fetching data:', error));
    }

    // Fetch new data every 0.3 seconds
    setInterval(fetchData, 300);

    // Initial fetch
    fetchData();
</script>
</body>
</html>
