<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style>
        .table {
            color: white;
        }
    </style>
</head>
<body class="text-white">
<div class="container mt-5">
    <div class="text-center mb-5">
        <h1>Water Analysis</h1>
        <div class="d-flex justify-content-center align-items-center my-2">
            <div id="sensor-dot" style="width: 10px; height: 10px; background-color: lightgray; border-radius: 50%;"></div>
            <span id="sensor-status" class="ml-2">Sensor Offline</span>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card card-text mb-4 rounded">
                <div class="card-header text-center"><h4 class="card-title">Turbidity Sensor</h4></div>
                <div class="card-body sensor">
                    <table class="table table-borderless table-sm">
                        <tbody class="text-left">
                        <tr>
                            <td class="col-A">Raw ADC:</td>
                            <td id="turb_raw" class="col-B">{{ data.turbidity_sensor.rawADC }}</td>
                        </tr>
                        <tr>
                            <td class="col-A">Voltage:</td>
                            <td id="turb_voltage" class="col-B">{{ data.turbidity_sensor.voltage }}</td>
                        </tr>
                        <tr>
                            <td class="col-A">Turbidity:</td>
                            <td id="turbidity" class="col-B">{{ data.turbidity }}</td>
                        </tr>
                        <tr>
                            <td class="col-A">Safety coefficient:</td>
                            <td id="turb_safety" class="col-B">{{ data.analysis.turb_safety }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-text mb-4 rounded">
                <div class="card-header text-center"><h4 class="card-title">Temperature Sensor</h4></div>
                <div class="card-body sensor">
                    <table class="table table-borderless table-sm">
                        <tbody>
                        <tr>
                            <td class="col-A">Raw ADC:</td>
                            <td id="temp_raw" class="col-B">{{ data.temperature_sensor.rawADC }}</td>
                        </tr>
                        <tr>
                            <td class="col-A">Voltage:</td>
                            <td id="temp_voltage" class="col-B">{{ data.temperature_sensor.voltage }}</td>
                        </tr>
                        <tr>
                            <td class="col-A">Temperature (C):</td>
                            <td id="temperature" class="col-B">{{ data.temperature_sensor.temperature }}</td>
                        </tr>
                        <tr>
                            <td class="col-A">Safety coefficient:</td>
                            <td id="temp_safety" class="col-B">{{ data.analysis.temp_safety }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="analysis-card" class="card text-white mb-4">
                <div class="card-body">
                    <h3 class="card-title">Analysis</h3>
                    <p id="analysis" class="card-text">{{ data.analysis.safety_rating * 100 }}% safe</p>
                    <div id="description" class="card p-2">
                        <p>{{ data.analysis.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- JavaScript to update the values and change the card color -->
<script>
    function fetchData() {
        fetch('/data')
            .then(response => response.json())
            .then(data => {
                // Update the sensor data
                document.getElementById('turb_raw').innerText = data.turbidity_sensor.rawADC;
                document.getElementById('turb_voltage').innerText = data.turbidity_sensor.voltage.toFixed(2);
                document.getElementById('turbidity').innerText = data.turbidity_sensor.turbidity.toFixed(2);
                document.getElementById('temp_raw').innerText = data.temperature_sensor.rawADC;
                document.getElementById('temp_voltage').innerText = data.temperature_sensor.voltage.toFixed(2);
                document.getElementById('temperature').innerText = data.temperature_sensor.temperature.toFixed(1);

                // Update the analysis data
                document.getElementById('analysis').innerText = `${(data.analysis.safety_rating * 100).toFixed(1)}% safe`;
                document.getElementById('description').innerText = data.analysis.description;

                // Set the card background color based on the analysis color
                const analysisCard = document.getElementById('analysis-card');
                analysisCard.style.backgroundColor = data.analysis.color;

                // Set the card background color based on the description color_alt
                const analysisDescription = document.getElementById('description');
                analysisDescription.style.backgroundColor = data.analysis.color_alt;

                // update the status of the sensor
                document.getElementById("sensor-dot").style.backgroundColor = data.sensor.color;
                document.getElementById("sensor-status").innerText = data.sensor.status;

            })
            .catch(error => console.error('Error fetching data:', error));
    }

    // Fetch new data every quarter second
    setInterval(fetchData, 250);

    // Initial fetch
    fetchData();
</script>
</body>
</html>
